/******************************************
GENERAL
*******************************************/
a{
 text-decoration: none;
}

#wrapper {
 /*max-width is related to width. But instead of width, max-widththat can be smaller for mobile devices/
  tablets.*/
  max-width: 940px;
 /*Margin 0 is for all sides.*/
  margin: 0 auto;
 /*Values frist one is top to bottom. Second one is left to right*/
  padding: 0 5%;
}

#logo{
  text-align: center;
  margin: 0;
}


/******************************************
COLORS
*******************************************/
a{
 color: #00FFCC;
}




/******************************************
MEDIA Queries
*******************************************/

